<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705739093077-bn8jef0iifn7pvd7dos70fompnsc7se1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705739093077-bn8jef0iifn7pvd7dos70fompnsc7se1</string>
	<key>API_KEY</key>
	<string>AIzaSyBsPO3j3GU-R6l1c0mTKh4WrhDsMQAOeis</string>
	<key>GCM_SENDER_ID</key>
	<string>705739093077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reinvestcommunity.app</string>
	<key>PROJECT_ID</key>
	<string>reinvest-bb445</string>
	<key>STORAGE_BUCKET</key>
	<string>reinvest-bb445.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705739093077:ios:e74c4c61ccc128976d90dc</string>
</dict>
</plist>